<table class="table table-bordered table-secondary">
  <tr>
    <th>անուն</th>
    <th>ազգանուն</th>
    <th>տարիք</th>
    <th>աշխատավարձ</th>
    <th>լեզուներ </th>
  </tr>
  <!-- <tr *ngFor="let item of skills" [class.alert-danger]= "item.developer==1" > -->
  <!-- <tr *ngFor="let item of skills; index as i" [class]= "{ 'alert-success':item.developer==1,'alert-danger':item.developer==2 }" > -->
  <!-- <tr *ngFor="let item of skills; index as i" [class.active]= "item.developer>5" ></tr> -->
  <tr  *ngFor="let item of mardik; index as i" [class]= "{ 'btn-success':item.lezuner.length==5,'btn-danger':item.lezuner.length==1 }">
    <td>{{item.anun}}</td>
    <td>{{item.azganun}}</td>
    <td>{{item.tariq}}</td>
    <td>{{item.ashxatavard}}</td>
    <td>
      <ul *ngFor="let lan of item.lezuner">
        <li>{{lan}}</li>
      </ul>
    </td>
    <td> -->
      <button  (click)="plus(item)" class="btn btn-sm btn-success m-1">+</button>
      <button  [disabled]="item.ashxatavard<=60000"  (click)="minus(item,i)" class="btn btn-sm btn-warning m-1">-</button>
    </td>
  </tr>
</table>